body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #logo {
    max-height: 60px;
    margin-right: 10px;
    margin-top: -3px;
    display: inline-block;
  }
  
  #cseintro {
    text-align: center;
    background: url("../../img/geninfo.jpg") no-repeat;
    background-size: cover;
    padding: 40px;
    margin-top: 65px;
  }
  
  #cseintro.jumbotron {
    border-radius: 20px;
    padding: 40px;
    background-color: rgba(255,255,255,0.75);
    max-width: 800px;
  }
  
  @media (min-width: 300px) {
    #cseintro {
      padding: 20px;
    }
  }
  
  @media (min-width: 992px) {
    #cseintro.jumbotron {
      padding: 20px;
    }
  }
  
  #courses {
    color: rgb(243,155,50);
    padding: 40px;
    margin-top: 65px;
  }
  
  s {
    color: rgb(243,155,50);
    padding: 40px;
    margin-top: 65px;
  }
  
  #log-in {
    color: rgb(243,155,50);
    padding: 40px;
    margin-top: 65px;
  }
  
  #log-in.h1 {
    text-align: center;
    padding: 20px;
    display: flex;
  }
  
  #log-in.div {
    text-align: center;
  }
  
  #section {
    position: initial;
  }
  
  #coursepage {
    color: rgb(243,155,50);
    padding: 40px;
    margin-top: 65px;
  }
  /*new*/
  #subpage {
    color: rgb(243,155,50);
    padding: 40px;
    margin-top: 65px;
    border-style: none;border-color: var(--bs-body-bg);
  }
  #fsubpage {
    padding: 40px;
    margin-top: 65px;
    border-style: none;border-color: var(--bs-body-bg);
  }
  #ps{
    color: var(--bs-blue);font-size: 18px;margin-top: 12px;text-align: left; 
  }
  #scon{
    height: 400px;color: var(--bs-dark);text-align: center;
  }
  #shead{
    font-size: 25px;text-align: left;margin-top: 20px;height: 25px;margin-bottom: 23px;
  }
  #shead2{
    font-size: 16px;text-align: left;height: 16px;margin-bottom: 16px;margin-top: 9px;
  }
  #ss{
    font-weight: bold;text-align: left;padding-bottom: 2px;
  }
  #ssp{
    text-align: left;padding-bottom: 2px;margin-bottom: -3px;
  }
  #linesp{
    text-align: left;padding-bottom: 0px;border: .2px solid rgb(162,164,165);margin-bottom: 1px;
  }
  #ssp1{
    text-align: left;padding-bottom: 2px;margin-bottom: -1px;padding-top: 0px;margin-top: -2px;
  }
  #ssp2{
    text-align: left;padding-bottom: 2px;margin-bottom: -1px;margin-top: 0px;
  }
  #sbutton{
    background: var(--bs-gray);
  }
  #fsrow{
    text-align: left;margin-left: 0px;padding-bottom: 0px;margin-bottom: 1px;height: 30px;color: rgb(170,179,188);background: var(--bs-gray-500);
  }
  #fcol{
    background: var(--bs-gray-300);
  }
  #fcim{
    color: var(--bs-orange);
  }
  #fsrow2{
    margin-left: -2px;
  }
  #fscol2{
    height: 120px;padding-left: 0px;text-align: center;background: var(--bs-gray-500);padding-bottom: 2px;margin-bottom: 14px;
  }
  #fi{
    text-align: center;font-size: 60px;padding-top: 0px;margin-top: 37px;
  }
  #fc1{
    padding-right: 424px;margin-right: -377px;margin-left: 1px;
  }
  #fc2{
    padding-left: 0px;padding-right: 513px;padding-bottom: 0px;margin-right: -472px;
  }
  #fb{
    background: var(--bs-gray-400);
  }
  #pro{
    border-style: none;border-color: var(--bs-body-bg);margin-bottom: 25px;padding-top: 0px;margin-top: 202px;
  }
  #pcon{
    text-align: left;
  }
  #pcol2{
    width: 200px;height: 40px;padding-left: 121px;padding-right: 67px;margin-right: -53px;text-align: left;
  }
  #ppar{
    width: 200PX;margin-left: -116px;padding-right: 0px;margin-right: 28px;height: 25px;margin-bottom: -7px;padding-bottom: 12px;background: var(--bs-gray-400);font-size: 20px;
  }
  #pcol3{
    margin-bottom: 0px;width: 100px;height: 25px;padding-left: 106px;margin-right: 73px;margin-left: 36px;font-size: 12px;color: rgb(22,211,41);text-align: left;
  }
  #ppar2{
    margin-top: -2px;padding-bottom: 0px;font-size: 15px;padding-top: 3px;padding-left: 40px;margin-left: -86px;
  }
  #ppar3{
    margin-left: -5px;color: rgb(247,143,44);
  }
  #prow{
    margin-bottom: 17px;
  }
  #pcol4{
    background: #f1dfdf;
  }
  #ppar4{
    margin-bottom: 3px;font-size: 12px;
  }
  #pi{
    color: var(--bs-dark);
  }
  #ppar5{
    font-size: 12px;
  }
  #ppar6{
    margin-bottom: 3px;margin-right: 18px;color: var(--bs-orange);font-size: 14px;
  }
  #pi2{
    font-size: 12px;margin-bottom: 4px;
  }
  #pdiv2{
    background: #f1dfdf;margin-left: 18px;
  }
  #ppar7{
    font-size: 14px;color: var(--bs-orange);margin-bottom: 2px;
  }
  #ppar8{
    font-size: 12px;margin-bottom: 0px;color: var(--bs-blue);
  }
  /*new2*/
  #courseteacher
  {
    border-style: none;border-color: var(--bs-body-bg);padding-top: 90px;padding-left: 150px;
  }
  #ctp{
    color: var(--bs-blue);font-size: 18px;margin-top: 12px;text-align: left;
  }
  #cth{
    font-size: 40px;text-align: left;margin-top: 20px;
  }
  #ctdiv{
    width: 1200px;padding-left: 106px;margin-left: -6px;text-align: left;border: 1px solid var(--bs-gray-900) ;
  }
  #ctp{
    margin-bottom: 19px;padding-left: 0px;margin-left: -100px;color: var(--bs-red);font-weight: bold;text-decoration: underline;font-size: 20px;margin-top: 8px;
  }
  #ctp2{
    padding-left: 0px;margin-left: -96px;color: var(--bs-blue);font-weight: bold;
  }
  #ctp3{
    padding-left: 0px;margin-left: -96px;color: var(--bs-gray-900);width: 300px;height: 35px;font-size: 14px;background: var(--bs-gray-300);border-width: 1px;border-style: solid;
  }
  #cti{
    font-size: 25px;margin-bottom: 4px;margin-top: 4px;color: var(--bs-gray);
  }
  /*new3*/
  #ctn{
    font-size: 20px;margin-bottom: 19px;
  }
  #csp{
    text-align: left;font-size: 30px;border-color: rgb(33,24,15);color: rgb(129,90,45);margin-bottom: 36px;
  }
  /* #csr{
    margin-bottom: 18px;
  } */
  #csp1{
    text-align: left;color: var(--bs-dark);width: 180px;font-size: 20px;
  }
  #cspt
  {
    text-align: left;color: var(--bs-dark);width: 180px;font-size: 20px;
  }
  #cspt2{
    margin-right: 344px;border-style: solid;width: 800px;padding-left: 16px;padding-right: 7px;margin-bottom: 1px;padding-top: 1px;padding-bottom: 129px;margin-top: -47px;margin-left: 214px;
  }
  #csc{
    margin-left: 10px;margin-bottom: 46px;padding-bottom: 6px;
  }
  #cspt3{
    margin-top: -39px;margin-right: 344px;border-style: solid;width: 800px;padding-left: 16px;padding-right: 7px;padding-top: 1px;padding-bottom: 129px;margin-bottom: 9px;margin-left: 204px;
  }
  #tsr{
    padding-bottom: 68px;margin-bottom: -55px;
  }
  #tsc{
    padding-bottom: 23px;margin-bottom: -41px;margin-right: 111px;margin-left: 2px;
  }
  #tuf{
    text-align: left;color: var(--bs-dark);width: 180px;font-size: 20px;margin-bottom: -39px;
  }
  #tsr{
    text-align: left;padding-bottom: 0px;margin-bottom: 1px;height: 30px;color: rgb(170,179,188);background: var(--bs-gray-500);padding-left: 0px;margin-left: 211px;
  }
  #tsc2{
    background: var(--bs-gray-300);margin-right: -5px;margin-bottom: -5px;padding-bottom: 0px;margin-left: 0px;
  }
  #tsr2{
    margin-left: -2px;margin-bottom: 31px;
  }
  #tscr3{
    height: 170px;padding-left: 0px;text-align: center;background: var(--bs-gray-500);padding-bottom: 2px;margin-bottom: 8px;margin-left: 215px;
  }
  #tsi{
    text-align: center;font-size: 60px;padding-top: 0px;margin-top: 37px;margin-bottom: 16px;color: var(--bs-dark);
  }
  #tsr3{
    margin-left: -2px;
  }
  #tsp{
    width: 180px;color: var(--bs-gray-900);text-align: left;font-size: 20px;
  }
  #ts{
    text-align: left;
  }
  #tsp2{
    text-align: left;color: var(--bs-dark);margin-bottom: -23px;margin-right: -7px;margin-left: 16px;
  }
  #tsc3{
    text-align: left;margin-left: 163px;
  }
  #ts3{
    text-align: left;margin-bottom: 44px;margin-left: -10px;
  }
  #ts3{
    margin-left: 8px;
  }
  #tsd{
    text-align: justify;height: 30px;padding-bottom: 0px;margin-bottom: 13px;padding-left: 0px;margin-left: 1px;
  }
  #tsp3{
    text-align: left;color: var(--bs-dark);margin-bottom: -23px;margin-right: -7px;margin-left: 5px;
  }
  #tsc4{
    text-align: left;margin-bottom: 106px;
  }
  #tsb{
    text-align: center;margin-left: 126px;
  }
  #tsb2{
    text-align: center;margin-left: 65px;color: var(--bs-dark);background: var(--bs-gray-400);
  }
  
  
  
  
  
  
  
  
  